.subtitle2{
            /* Black and White version of the PS5 coming out on sale. */

            position: absolute;
            top: 380px;
            left:760px; 

          /* Featured woman collections that give you another vibe. */


            width: 255px;
            height: 42px;

            /* Title/14PX Regular */

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* or 150% */


            /* Text */

            color: #FAFAFA;


            /* Inside auto layout */

            flex: none;
            order: 1;
            flex-grow: 0;
}