.top{
    margin-left: 135px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}