.productImg {
  max-width: 17rem;
  height: 15.5rem;
}
.card{
  max-width: 270px;
}
@media screen  and (max-width:1280px){
  .productImg {
 
    height: 10.5rem;
  }
  .card{
    max-width: 200px;
  }
}