.title2{
        position: absolute;
        top: 390px;
        left:755px; 
    
                /* Women’s Collections */


        width: 255px;
        height: 24px;

        /* Heading/24PX SemiBold */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        /* identical to box height, or 100% */

        letter-spacing: 0.03em;

        /* Text */

        color: #FAFAFA;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
                }