.two-col3{
    /* Frame 686 */
        position: relative;
        width: 270px;
        height: 284px;

        /* Text2 */
 
        background: #000000;
        border-radius: 4px;

        bottom: 410px;
        left: 700px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
}