.slider{
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:2em;
}
.list-slider{       
    display:flex;
    position: relative;
    gap: 1em;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.slider .slider-btn{
    background-color: gray;
}

.slider .slider-header{
    display: flex;
    justify-content: space-between;
}
.slider .slider-header .slider-header-titles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.slider .slider-header .slider-header-controls{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}