.two-col-img4{
  /* 69-694768_amazon-echo-png-clipart-transparent-amazon-echo-png 1 */
  position: absolute;
  width: 190px;
  height: 221px;
  left: calc(50% - 190px/2);
  top: calc(50% - 221px/2 - 0.5px);

}