
.footer{
            /* Frame 702 */


        /* Auto layout */

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 88px;

        position: absolute;
        width: 943px;
        height: 161px;
        right: 350px;
        top: 950px;
}