.timer-items-banner{
    display: flex;
    align-items: center;
    gap: 1em;
}
.timer-items-banner .item{
    width: 3em;
    height: 3em;
    padding: 1em;
    border-radius: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    font-size: 14px;
}
.timer-items-banner .item p{
    margin: 0  ;
}