.two-col{
    /* Frame 738 */


                /* Auto layout */

                display: grid;
              
               
                padding: 0px;
                gap: 32px;

                width: 570px;
                height: 500px;


}

.two-col-row{
       
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 30px;
        gap: 32px; 
}



