.one-col{
    
            /* Frame 684 */

            position: relative;
            width: 570px;
            height: 600px;

            /* Button */

            background: #000000;
            border-radius: 4px;

            margin-left: 135px;

            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 0;
                
    
    }
    
 